@import url("https://fonts.googleapis.com/css?family=Aldrich|PT+Mono|Sarpanch");
@import url("https://fonts.googleapis.com/css?family=Acme|Bangers|Cabin+Sketch|Gloria+Hallelujah|Jua|Permanent+Marker|Special+Elite|Sriracha|Tauri");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@font-face {
  font-family: "Hunger Games";
  src: url("/assets/Hunger_Games.ttf");
}
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(/assets/I_Just_Wanted.jpg) no-repeat;
  background-size: cover;
  opacity: 0.2;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: darkgrey;
  font-family: "Inconsolata", monospace;
  font-size: 23px;
}
@media (max-width: 375px) {
  body {
    text-align: center;
  }
}
@media (max-width: 320px) {
  body {
    text-align: center;
  }
}

.nav a {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 21px;
}
@media (max-width: 320px) {
  .nav a {
    padding: 1.5rem 1rem;
  }
}

.navbar-nav {
  margin: auto;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: yellow;
}

nav.bg-light {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
@media (max-width: 375px) {
  nav.bg-light {
    margin-right: -262px;
  }
}
@media (max-width: 320px) {
  nav.bg-light {
    margin-right: -262px;
  }
}

.navbar-nav {
  justify-content: space-around;
  width: 100%;
  color: white;
}

.navbar-toggler {
  background-color: lightgrey;
}
@media (max-width: 375px) {
  .navbar-toggler {
    font-size: 3.25rem;
  }
}
@media (max-width: 320px) {
  .navbar-toggler {
    font-size: 3.25rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(247, 4, 4);
}
@media (max-width: 375px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 43px;
  }
}
@media (max-width: 320px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 43px;
  }
}

#query {
  margin-top: 30px;
}

.login-box {
  padding: 1em;
  border-radius: 1em;
}

#customer-detail {
  color: black;
  margin-top: 70px;
}

#full_name1 {
  margin-right: auto;
  font-size: 34px;
}

#show {
  color: white;
}

.click {
  font-size: 60px;
  color: red;
  text-align: center;
  font-family: "Secular One", sans-serif;
}

p {
  margin-top: 43px;
  margin-bottom: 0rem;
}
@media (max-width: 400px) {
  p {
    margin-right: 4px;
    margin-left: 5px;
    font-size: 19px;
    text-align: center;
    margin-top: 7px;
  }
}
@media (max-width: 393px) {
  p {
    margin-right: 4px;
    margin-left: 5px;
    font-size: 19px;
    text-align: center;
    margin-top: 7px;
  }
}
@media (max-width: 375px) {
  p {
    margin-right: -262px;
    margin-left: 5px;
    font-size: 31px;
  }
}
@media (max-width: 320px) {
  p {
    margin-right: -262px;
    font-size: 31px;
  }
}

#welcome {
  font-size: 120px;
  text-align: center;
  color: red;
  margin-top: 45px;
}
@media (max-width: 400px) {
  #welcome {
    display: flex;
    margin-left: 65px;
    margin-top: 28px;
    margin-bottom: -2px;
    font-size: 65px;
    text-align: center;
  }
}
@media (max-width: 393px) {
  #welcome {
    display: flex;
    margin-left: 65px;
    font-size: 65px;
    text-align: center;
  }
}
@media (max-width: 390px) {
  #welcome {
    display: flex;
    margin-left: 65px;
    font-size: 65px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  #welcome {
    display: flex;
    margin-left: -34px;
    font-size: 117px;
  }
}
@media (max-width: 320px) {
  #welcome {
    margin-left: -34px;
    font-size: 117px;
  }
}

.left,
.right {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.right {
  text-align: right;
  font-size: 30px;
  display: inline-grid;
}

#icon img {
  width: 100px;
}

form.button_to {
  display: inline-block;
}

.show-description {
  color: #4a0b0b;
}

h2 {
  display: inline;
}

h1,
.h1 {
  font-size: 42px;
}

#homepage {
  font-size: 25px;
  font-weight: bold;
}

.footer {
  bottom: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #0a192f;
}

.pfooter {
  color: yellow;
}
@media (max-width: 400px) {
  .pfooter {
    color: red;
    font-size: 14px;
    padding-top: 41px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 393px) {
  .pfooter {
    color: red;
    font-size: 14px;
    padding-top: 41px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 390px) {
  .pfooter {
    color: red;
    font-size: 14px;
    padding-top: 41px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 375px) {
  .pfooter {
    color: red;
    font-size: 23px;
    padding-top: 0px;
    padding-bottom: 8px;
    font-weight: 400;
  }
}
@media (max-width: 320px) {
  .pfooter {
    color: red;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 290px) {
  .pfooter {
    color: red;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */